body {
    font-size: 125%;
}
#changelog {
    font-size: 75%;
}
#footer {
    font-size: 7;
    vertical-align: bottom;
}
#changelogButtonAlign {
    text-align: right;
}
.ui-draggable, .ui-droppable {
	background-position: top;
}